<div class="wrapper">
  <button class="add-channel-btn" (click)="onOpenChannelDialog()">
    Channel hinzufügen
  </button>
  @if(addChannelDialogOpen()) {
  <app-add-channel (closeDialog)="onCloseAddChannel()" />
  }

  <div class="channels-list">
    @for(channel of channelService.channels; track channel.id) {
    <a [routerLink]="['/channels', channel.name.toLowerCase()]">
      {{ channel.name }}</a
    >
    }
  </div>

  <div class="users-list">
    @for (user of userService.users; track user.uid) {
    <span>{{ user.displayName }}</span>
    } @empty {
    <span>Keine Benutzer geladen...</span>
    }
  </div>
</div>
