<div class="wrapper">
  <button class="add-channel-btn" (click)="onOpenChannelDialog()">
    Channel hinzufügen
  </button>
  @if(addChannelDialogOpen()) {
  <app-add-channel (closeDialog)="onCloseAddChannel()" />
  }

  <div class="channels-list">
    <a [routerLink]="['/']">Neue Nachricht</a>
    @for(channel of getChannels(); track channel.id) {
    <a [routerLink]="['/channels', channel.id]"> {{ channel.name }}</a>
    }
  </div>

  <div class="users-list">
    @for (user of getUsers(); track user.uid) {
    <div class="user-entry">
      <div class="avatar-wrapper">
        <img [src]="user.avatarUrl" alt="Avatar" />
        <span class="status-dot" [style.backgroundColor]="getStatusColor(user)"></span>
      </div>
      <span>{{ user.displayName }} &#x2BC6;</span>
    </div>
    <div class="user-entry">
      <div class="avatar-wrapper">
        <img [src]="user.avatarUrl" alt="Avatar" />
        <span class="status-dot" [style.backgroundColor]="getStatusColor(user)"></span>
      </div>
      <span>{{ user.displayName }}</span>
    </div>
  
    } @empty {
    <span>Keine Benutzer geladen...</span>
    }
  </div>
</div>
