<div class="wrapper">
  <button>
    <img
      class="arrow-drop-down"
      src="img/arrow-drop-down.svg"
      alt="arrow-drop-down"
    />
    <img src="img/workspaces.svg" alt="account-circle" />
    Channels
  </button>

  <div class="channels-list">
    <a [routerLink]="['/']">Neue Nachricht</a>
    @for(channel of getChannels(); track channel.id) {
    <a [routerLink]="['/channels', channel.id]"> {{ channel.name }}</a>
    }
  </div>

  <button class="add-channel-btn" (click)="onOpenChannelDialog()">
    <img src="img/add-circle.svg" alt="" />
    Channel hinzufügen
  </button>
  @if(addChannelDialogOpen()) {
  <app-add-channel (closeDialog)="onCloseAddChannel()" />
  }

  <button (click)="toggleDirectMessageUserList()">
    <img
      class="arrow-drop-down"
      src="img/arrow-drop-down.svg"
      alt="arrow-drop-down"
    />
    <img src="img/workspaces.svg" alt="account-circle" />
    Direktnachrichten
  </button>

  @if(directMessageUserListOpen()) {

  <div class="users-list">
    @for (user of getUsers(); track user.uid) {
    <div class="user-entry">
      <div class="avatar-wrapper">
        <img [src]="user.avatarUrl" alt="Avatar" />
        <span
          class="status-dot"
          [style.backgroundColor]="getStatusColor(user)"
        ></span>
      </div>
      <span>{{ user.displayName }}</span>
    </div>
    <div class="user-entry">
      <div class="avatar-wrapper">
        <img [src]="user.avatarUrl" alt="Avatar" />
        <span
          class="status-dot"
          [style.backgroundColor]="getStatusColor(user)"
        ></span>
      </div>
      <span>{{ user.displayName }}</span>
    </div>

    } @empty {
    <span>Keine Benutzer geladen...</span>
    }
  </div>
  }
</div>
