@use "../../../../styles.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  height: 100%;
  border-radius: 30px;
  padding: 16px;
}

button {
  border: none;
  background-color: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 10px;
  transition: color 125ms;

  img {
    width: 20px;
    height: 20px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $purple-3;
    }
  }
}

.devspace-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button:hover {
    background-color: $bg-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
      content: url("/img/new-message-channel-hover.svg");
      max-width: 200px;
    }
  }
}

button .arrow-drop-down {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);

  &.open {
    transform: rotate(0deg);
  }
}

.channel-container {
  display: flex;
  justify-content: space-between;
}

.channel-img-container {
  @media (hover: hover) and (pointer: fine) {
    &:hover :first-child {
      content: url("/img/arrow-drop-down-hover.svg");
    }

    &:hover :nth-child(2) {
      content: url("/img/workspace-hover.svg");
    }
  }
}

.add-btn-container {
  img {
    width: 16px;
    height: 16px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        content: url("/img/add-hover.svg");
      }
    }
  }
}

.channels-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // flex: 1;
  padding-right: 8px;
  padding-left: 24px;
  max-height: 500px; //TODO
  overflow-y: auto;

  >div {
    border-radius: 30px;
    padding: 4px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: fit-content;
  }

  a {
    text-decoration: none;
    // color: black;

    // &:active {
    //   color: inherit; /* Oder eine andere Farbe deiner Wahl */
    //   outline: none; /* Entfernt den Fokus-Rahmen */
    // }
  }

  .channel-entry {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
        background-color: $bg-color;

        a {
          color: $purple-3;
        }
      }

      &:hover>img {
        content: url("/img/tag-hover.svg");
      }
    }
  }
}

.add-channel-container {
  gap: 8px;
  // flex: 1;
  padding-left: 24px;
  max-height: 500px; //TODO später anpassen
  overflow-y: auto;

  button {
    text-align: left;
    font-size: 17px;
  }
}

.add-channel-btn {
  font-size: 18px;
  font-weight: 400;

  @media (hover: hover) and (pointer: fine) {
    &:hover :first-child {
      content: url("/img/add-circle-hover.svg");
    }
  }
}

.direct-message-container {
  @media (hover: hover) and (pointer: fine) {
    &:hover :first-child {
      content: url("/img/arrow-drop-down-hover.svg");
    }

    &:hover :nth-child(2) {
      content: url("/img/account-circle-hover.svg");
    }
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  padding: 8px;
  padding-left: 24px;
  max-height: 500px; //TODO später anpassen
  overflow-y: auto;

  a {
    text-decoration: none;
    color: #000;
  }
}

.user-entry {
  border-radius: 30px;
  padding: 4px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  width: fit-content;

  .avatar-wrapper {
    position: relative;
    width: 44px;
    height: 44px;

    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: block;
    }

    .status-dot {
      position: absolute;
      right: -1px;
      bottom: 1px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: $text-gray;

      &.online {
        background-color: $online-green;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      background-color: $bg-color;
      color: $purple-3;
    }
  }
}
