@use "../../../../styles.scss" as *;

$min-height: 5dvh;

:host {
  min-height: 100dvh;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  gap: 32px;
  @include respond(xl) {
    justify-content: center;
  }
}

//TAGS

a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
    transition: $hover-transition;
  }
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 0 25px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    transition: $hover-transition;
  }

  &.btn-submit {
    background-color: $purple-1;
    color: #fff;

    &:hover {
      background-color: $purple-2;
    }

    &:disabled {
      background-color: $text-gray;
      cursor: not-allowed;
    }
  }

  &.btn-guest {
    border-color: $purple-2;
    color: $purple-1;

    &:hover {
      background-color: $purple-2;
      color: #fff;
    }
  }

  &.btn-second {
    color: $purple-2;
    font-weight: 400;
    height: 100%;
    padding: 5px 15px;

    &:hover {
      background-color: $bg-color;
    }

    &.arrow {
      display: flex;
      place-items: center;
      padding: 8px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  @include respond(xl) {
    gap: 32px;
  }
}

h1 {
  color: $purple-1;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  @include respond(xl) {
    font-size: 46px;
  }
}

p {
  text-align: center;
}

input {
  border-style: none;
  background: none;
  height: 60px;
  width: 100%;
  color: $text-gray;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

//CLASSES

.btn-wrapper {
  display: flex;
  gap: 32px;
}

.confirmation-overlay {
  position: absolute;
  bottom: 75px;
  right: 75px;
  background-color: $purple-1;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
  border-radius: 30px 30px 0 30px;
  font-weight: 700;
  font-size: 36px;
}

.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  a {
    display: flex;
    position: absolute;
    left: -8px;
    padding: 8px;
    border-radius: 100%;

    &:hover {
      background-color: $bg-color;
      transition: $hover-transition;
    }
  }
}

.field-wrapper {
  position: relative;
  width: 100%;

  & p {
    text-align: start;
    color: red;
    font-size: 16px;
    position: absolute;
    top: calc(100% + 4px);
  }
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $bg-color;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0 32px;
  width: 100%;
  height: 60px;
  color: $text-gray;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    border: 1px solid $text-gray;
    transition: $hover-transition;
  }

  &span {
    color: $purple-1;
  }

  .google {
    color: $purple-1;
  }
}

.legal-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 64px;
  gap: 16px;
  a {
    &:hover {
      border: 1px solid $purple-2;
      transition: $hover-transition;
    }
  }

  @include respond(xl) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3dvh;
  }
}

.login-box {
  background-color: #fff;
  border-radius: 30px;
  max-width: 500px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
  box-shadow: $box-shadow;

  @include respond(xxl) {
    padding: 32px 64px;
    gap: 32px;
    max-width: 600px;
  }
  @include respond(xxxl) {
    padding: 64px;
  }
}

.logo-container {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  z-index: 1000;
  img {
    width: 70px;
    height: 70px;
  }
  span {
    font-size: 32px;
    font-weight: 700;
  }

  @include respond(xl) {
    position: absolute;
    top: $min-height;
    left: 50px;
    transform: translateX(0);
  }
}

.register-div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  a {
    text-align: end;

    &:hover {
      border: 1px solid $purple-2;
      transition: $hover-transition;
    }
  }

  span {
    margin-right: 0;
    @include respond(xl) {
      margin-right: 12px;
    }
  }

  @include respond(xl) {
    position: absolute;
    top: $min-height;
    right: 50px;
    bottom: unset;
    transform: translateX(0);
  }
}

.seperator-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}

.seperator {
  height: 1px;
  width: 50%;
  border: 1px solid $light-purple;
}

.tip-email {
  font-size: 18px;
}
