@use "../../../../styles.scss" as *;

:host {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

h1,
h2 {
  color: $purple-1;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 100%;
}

h1 {
  @include respond(xl) {
    font-size: 46px;
  }
}

h2 {
  font-size: 32px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
    transition: $hover-transition;
  }
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    transition: $hover-transition;
  }
  &.btn-submit {
    height: 60px;
    padding: 0 25px;
    background-color: $purple-1;
    color: #fff;
    &:disabled {
      background-color: $text-gray;
    }
    &:not(:disabled):hover {
      background-color: $purple-2;
      transition: $hover-transition;
    }
  }
  &.btn-avatar {
    align-self: flex-end;
  }
  &.btn-second {
    display: flex;
    padding: 8px;
    &:hover {
      background-color: $bg-color;
    }
  }
}

.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a {
    display: flex;
    position: absolute;
    left: -8px;
    cursor: pointer;
    padding: 8px;
    border-radius: 100%;
    &:hover {
      background-color: $bg-color;
      transition: $hover-transition;
    }
  }
}

.selected-avatar {
  width: 168px;
  border-radius: 100%;
  border: 4px solid transparent;
  &:hover {
    border-color: $border-color;
    transition: $hover-transition;
  }
}

.avatars-div {
  display: flex;
  gap: 8px;
}

.avatar {
  width: 64px;
  border-radius: 100%;
  border: 4px solid transparent;
  cursor: pointer;
  &:hover {
    border-color: $border-color;
    transition: $hover-transition;
  }
}

.display-name {
  font-size: 32px;
  font-weight: 700;
}

.field-wrapper {
  position: relative;
  width: 100%;
  & p {
    text-align: start;
    color: $text-gray;
    font-size: 12px;
    position: absolute;
    top: calc(100% + 4px);
  }
}

input {
  border-style: none;
  background: none;
  height: 60px;
  width: 100%;
  color: $text-gray;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $bg-color;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0 32px;
  width: 100%;
  height: 60px;
  color: $text-gray;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    border: 1px solid $text-gray;
    transition: $hover-transition;
  }
  &span {
    color: $purple-1;
  }
  .google {
    color: $purple-1;
  }
}

.logo-div {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    width: 70px;
  }
  span {
    color: black;
    font-weight: 500;
    font-size: 32px;
  }

  @include respond(xl) {
    top: 75px;
    left: 50px;
  }
}

.login-box {
  background-color: #fff;
  border-radius: 30px;
  max-width: 600px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  box-shadow: $box-shadow;
  @include respond(xl) {
    padding: 64px;
  }
}

.checkbox-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  a {
    padding: 0;
  }
  img {
    cursor: pointer;
  }
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.legal-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  display: flex;
  gap: 32px;
  width: 100%;
  padding: 0 64px;
  justify-content: space-between;

  a {
    &:hover {
      border: 1px solid $purple-2;
      transition: $hover-transition;
    }
  }

  @include respond(xl) {
    width: fit-content;
    padding: 0;
  }
}

.confirmation-overlay {
  position: absolute;
  bottom: 75px;
  right: 75px;
  background-color: $purple-1;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
  border-radius: 30px 30px 0 30px;
  font-weight: 700;
  font-size: 36px;
}
