<div class="login-wrapper">
  <div class="logo-div">
    <img src="img/dabubble-logo.svg" alt="" />
    <span>DABubble</span>
  </div>
  @if(chooseAvatar()) {
  <div class="avatar-overlay login-box">
    <a (click)="this.chooseAvatar.set(false)">
      <img src="img/arrow-back.svg" alt="" />
    </a>
    <h2>Wähle deinen Avatar</h2>
    <img [src]="avatarUrl()" alt="" />
    <span>{{ userService.currentUserData()?.displayName }}</span>
    <button class="btn-submit" (click)="navigateToApp()">Weiter</button>
  </div>
  } @else {
  <div class="login-box">
    <div class="header-wrapper">
      <a routerLink="/login">
        <img src="img/arrow-back.svg" alt="" />
      </a>
      <h1>Konto erstellen</h1>
    </div>
    <p>
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </p>
    @if (errorMessage) {
    <div>{{ errorMessage }}</div>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field-wrapper">
        <div class="input-div">
          <img src="img/user-icon.svg" alt="" />
          <input
            type="text"
            placeholder="Vorname und Nachname"
            formControlName="username"
          />
        </div>
        @if(username?.hasError('required') && username?.touched) {
        <p>Bitte gültigen Benutzernamen eingeben.</p>
        }
      </div>
      <div class="field-wrapper">
        <div class="input-div">
          <img src="img/mail-icon.svg" alt="" />
          <input type="text" placeholder="Email" formControlName="email" />
        </div>
        @if(email?.hasError('required') && email?.touched) {
        <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
        } @if(email?.hasError('email') && email?.touched) {
        <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
        }
      </div>
      <div class="field-wrapper">
        <div class="input-div">
          <img src="img/password-icon.svg" alt="" />
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        @if(password?.hasError('required') && password?.touched) {
        <p>Bitte ein gültiges Passwort eingeben!</p>
        }
      </div>
      <div class="checkbox-div">
        <img [src]="currentCheckBox()" (click)="toggleCheckbox()" alt="" />
        <p>
          Ich stimme der
          <a routerLink="/privacy-policy">Datenschutzerklärung</a>
          zu.
        </p>
      </div>
      <div class="btn-wrapper">
        <button
          class="btn-submit"
          type="submit"
          [disabled]="form.invalid || !isChecked()"
        >
          Weiter
        </button>
      </div>
    </form>
  </div>
  }
  <div class="legal-wrapper">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
</div>
