<div class="header">
  <span>Neue Nachricht</span>
  <input
    type="text"
    placeholder="Name des Benutzers eingeben..."
    [formControl]="userInputControl"
    (input)="resetSelection()"
  />
  @if(userInputControl.value && filterUsernames().length) {
  <ul class="username-list">
    @for(username of filterUsernames(); track $index){
    <li class="list-item">
      <button (click)="selectSuggestion(username)">{{ username }}</button>
    </li>
    }
  </ul>
  }
</div>
<app-message-box
  placeholder="Starte eine neue Nachricht"
  (send)="handleSend($event)"
  [isNewMessage]="true"
/>
