@use "../../../../styles.scss" as *;

:host {
  grid-area: chat;
  overflow-y: scroll;
}

.online {
  color: $online-green;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $backdrop;
  z-index: 1000;
}

.main-chat {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px;
}

.message-date {
  border: 1px solid $light-purple;
  border-radius: 24px;
  padding: 4px 12px;
}

.message-data-container {
  display: flex;
  padding: 32px;
  gap: 32px;
  img {
    border-radius: 100%;
  }
}

.message-data {
  display: flex;
  flex-direction: column;
}

.seperator-wrapper {
  display: flex;
  align-items: center;
}

.seperator {
  border: 1px solid $light-purple;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  height: 1px;
  flex-grow: 1;
}

.user-info-container {
  display: flex;
  align-items: center;
  padding: 24px 20px;
  box-shadow: $box-shadow;
  border-radius: 30px 30px 0 0;

  .channel-info-group {
    position: relative;

    .channel-info {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 4px;
      padding: 4px 8px;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background-color: $bg-color;
        transition: $hover-transition;
      }
    }
  }

  .channel-members-group {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    position: relative;

    .add-new-member {
      cursor: pointer;
      width: 40px;
    }

    .channel-members-info {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-radius: 30px;

      &:hover {
        background-color: $bg-color;
        transition: $hover-transition;
      }

      cursor: pointer;
      gap: 16px;

      .channel-members-img {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          border-radius: 50%;
          margin-left: -10px;
          border: 2px solid white;
          box-shadow: $box-shadow;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.emoji-container {
  position: relative;
  width: 48px;
  cursor: pointer;

  > img {
    width: 48px;
    height: 48px;
  }

  &:hover > img {
    content: url("/img/add-reaction-hover.svg");
    width: 24px;
    height: 48px;
  }

  &:focus > img {
    content: url("/img/add-reaction-hover.svg");
    width: 24px;
    height: 48px;
  }
}
