<div class="main-chat">
  <div class="user-info-container">
    @if(isSelectedUserCurrentUser()) {
    <span>{{ getSelectedUser()?.displayName }} (Du) </span>
    <span class="online">Status</span>

    } @else {
    <span>{{ getSelectedUser()?.displayName }} </span>
    <span [ngClass]="{ online: isOnline(getSelectedUser()?.uid || '') }"
      >Status</span
    >
    }
  </div>
  <div class="messages-container">
    @for(dm of getDirectMessagesOfSelectedUser(); track dm.id){
    <div class="message-wrapper">
      <div class="seperator-wrapper">
        <div class="seperator"></div>
        <div class="message-date">
          {{ getDateOfMessageById(dm.id) | date : "EEEE, d. MMMM" : "No Date" }}
        </div>
        <div class="seperator"></div>
      </div>
      <div class="message-data-container">
        <img [src]="getSenderById(dm.participantIds[0])?.avatarUrl" alt="" />
        <div class="message-data">
          <span>{{ getSenderById(dm.participantIds[0])?.displayName }}</span>
          <div>{{ dm.content }}</div>
          <span>
            {{ getDateOfMessageById(dm.id) | date : "HH:mm 'Uhr'" : "No Date" }}
          </span>
        </div>
      </div>
    </div>
    }
  </div>
  <app-message-box
    [placeholder]="'Nachricht an ' + getSelectedUser()?.displayName"
    (send)="handleSend($event)"
  />
</div>
@if(isUserProfileDialogOpen()) {
<div class="dialog-backdrop"></div>
<app-user-profile
  [selectedMemberId]="selectedMemberId()"
  (closeDialogUserProfile)="toggleUserProfileDialog()"
/>
}
