@use "../../../../styles.scss" as *;

:host {
  overflow-y: scroll;
}

app-message-box {
  margin: 12px 24px 24px 24px;
}

.online {
  color: $online-green;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $backdrop;
  z-index: 1000;
}

.main-chat {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 30px;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 20px;
  box-shadow: $box-shadow;
  border-radius: 30px 30px 0 0;
  z-index: 2;
  .avatar-wrapper {
    display: flex;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    .status-dot {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 14px;
      height: 14px;
      background-color: $text-gray;
      border-radius: 100%;
      border: 2px solid #fff;
      &.online {
        background-color: $online-green;
      }
    }
  }
  .display-name {
    font-weight: 700;
    font-size: 24px;
  }
}
