<div class="main-chat">
  <div class="user-info-container">
    @if(isSelectedUserCurrentUser()) {
    <div class="avatar-wrapper">
      <img [src]="getSelectedUser()?.avatarUrl" alt="" />
      <span class="status-dot online"></span>
    </div>
    <span class="display-name">{{ getSelectedUser()?.displayName }} (Du) </span>
    } @else {
    <div class="avatar-wrapper">
      <img [src]="getSelectedUser()?.avatarUrl" alt="" />
      <span
        class="status-dot"
        [ngClass]="{ online: isUserOnline(getSelectedUser()?.uid!) }"
      ></span>
    </div>
    <span class="display-name">{{ getSelectedUser()?.displayName }} </span>
    }
  </div>
  <div class="messages-container">
    @for(dm of getDirectMessagesOfSelectedUser(); track dm.id){
    <div class="message-wrapper">
      <div class="seperator-wrapper">
        <div class="seperator"></div>
        <div class="message-date">
          @if(isToday(dm.id)) { heute } @else {
          {{ getDateOfMessageById(dm.id) | date : "EEEE, d. MMMM" : "No Date" }}
          }
        </div>
        <div class="seperator"></div>
      </div>
      <div
        class="message-data-container"
        [ngClass]="{
          'current-user': isMessageFromCurrentUser(dm.participantIds[0])
        }"
        (mouseenter)="onMouseEnterMessage(dm.id)"
        (mouseleave)="onMouseLeaveMessage()"
      >
        @if(isMessageFromCurrentUser(dm.participantIds[0])) {
        <div
          class="reaction-bar"
          [@reactionBarSlideCurrentUser]="
            reactionVisibleId() === dm.id ? 'visible' : 'hidden'
          "
        >
          <button type="button" aria-label="check">✅</button>
          <button type="button" aria-label="like">👍</button>
        </div>
        } @else {
        <div
          class="reaction-bar"
          [@reactionBarSlideOtherUser]="
            reactionVisibleId() === dm.id ? 'visible' : 'hidden'
          "
        >
          <button type="button" aria-label="check">✅</button>
          <button type="button" aria-label="like">👍</button>
        </div>
        }

        <img
          [src]="getSenderById(dm.participantIds[0])?.avatarUrl"
          [ngClass]="{
            'current-user': isMessageFromCurrentUser(dm.participantIds[0])
          }"
          alt=""
        />
        <div class="message-data">
          <div class="first-row">
            <span class="display-name">{{
              getSenderById(dm.participantIds[0])?.displayName
            }}</span>
            <span>
              {{
                getDateOfMessageById(dm.id) | date : "HH:mm 'Uhr'" : "No Date"
              }}
            </span>
          </div>
          <div
            class="message-content"
            [ngClass]="{
              'current-user': isMessageFromCurrentUser(dm.participantIds[0])
            }"
          >
            {{ dm.content }}
          </div>
          <div class="last-row">
            <span class="answer-amount">2 Antworten</span>
            <span class="last-answer-time">letzte Antwort 14:56</span>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <app-message-box
    [placeholder]="'Nachricht an ' + getSelectedUser()?.displayName"
    (send)="handleSend($event)"
  />
</div>
@if(isUserProfileDialogOpen()) {
<div class="dialog-backdrop"></div>
<app-user-profile
  [selectedMemberId]="selectedMemberId()"
  (closeDialogUserProfile)="toggleUserProfileDialog()"
/>
}
