<div
  class="wrapper"
  (click)="onCloseDialog()"
  (keydown)="onCloseDialog()"
  tabindex="0"
>
  <dialog
    open
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
  >
    <h2>Channel erstellen</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <label for="channel-name">Channel-Name</label>
        <input
          type="text"
          id="channel-name"
          name="channel-name"
          formControlName="channelName"
        />
      </p>

      <p>
        <label for="description">Beschreibung</label>
        <textarea
          id="description"
          rows="5"
          name="description"
          formControlName="description"
        ></textarea>
      </p>

      <p class="actions">
        <button type="button" (click)="onCloseDialog()">Cancel</button>
        <button type="submit">Erstellen</button>
      </p>
    </form>
  </dialog>
</div>
