<!--date-seperator for non-thread-messages-->
@if(!isThreadItem()) {
<div class="seperator-wrapper">
  <div class="seperator"></div>
  <div class="message-date">
    @if(isToday()) { heute } @else {
    {{ getDateOfMessage() | date : "EEEE, d. MMMM" : "No Date" }}
    }
  </div>
  <div class="seperator"></div>
</div>
}

<div
  class="message-data-container"
  [ngClass]="{
    'current-user': isMessageFromCurrentUser(),
  }"
  (mouseenter)="onMouseEnterMessage()"
  (mouseleave)="onMouseLeaveMessage()"
>
  @if(isMessageFromCurrentUser()) {
  <div
    class="reaction-bar current-user"
    [@reactionBarSlideCurrentUser]="
      reactionVisibleId() === message()?.id ? 'visible' : 'hidden'
    "
  >
    @if(!isThreadItem()) {
    <button
      (click)="handleReaction('✅', message()?.id ?? '')"
      type="button"
      aria-label="check"
    >
      ✅
    </button>
    <button
      (click)="handleReaction('👍', message()?.id ?? '')"
      type="button"
      aria-label="like"
    >
      👍
    </button>
    }

    <!-- Reaction-Button -->
    <button
      type="button"
      aria-label="reaction"
      (click)="toggleEmojiPickerInBar()"
      (keydown)="toggleEmojiPickerInBar()"
      (mouseenter)="isReactionHovered.set(true)"
      (mouseleave)="isReactionHovered.set(false)"
    >
      <img
        [src]="
          isReactionHovered()
            ? 'img/add-reaction-comment-hover.svg'
            : 'img/add-reaction-comment.svg'
        "
        alt="reaction"
      />
    </button>

    <!-- Answer-Button -->
    @if (!isThreadItem()) {
    <button
      type="button"
      (click)="onOpenThread()"
      (click)="setParentDirectMessageId()"
      (mouseenter)="isAnswerHovered.set(true)"
      (mouseleave)="isAnswerHovered.set(false)"
    >
      <img
        [src]="isAnswerHovered() ? 'img/answer-hover.svg' : 'img/answer.svg'"
        alt="answer"
      />
    </button>
    }

    <!-- Dots-Button -->
    <!-- <button
      type="button"
      (mouseenter)="isDotsHovered.set(true)"
      (mouseleave)="isDotsHovered.set(false)"
    >
      <img
        class="dots"
        [src]="isDotsHovered() ? 'img/dots-hover.svg' : 'img/dots.svg'"
        alt="edit"
      />
    </button> -->
    @if(isEmojiPickerInBarOpen()) {
    <div class="emoji-picker in-bar" #emojiPicker>
      @for (emoji of emojis; track $index) {
      <button
        type="button"
        class="emoji-btns"
        (click)="handleReaction(emoji, message()?.id ?? '')"
        (click)="isEmojiPickerInBarOpen.set(false)"
      >
        {{ emoji }}
      </button>
      }
    </div>
    }
  </div>
  } @else {
  <!--message from other users-->
  <div
    class="reaction-bar"
    [@reactionBarSlideOtherUser]="
      reactionVisibleId() === message()?.id ? 'visible' : 'hidden'
    "
  >
    @if(!isThreadItem()) {
    <button
      (click)="handleReaction('✅', message()?.id ?? '')"
      type="button"
      aria-label="check"
    >
      ✅
    </button>
    <button
      (click)="handleReaction('👍', message()?.id ?? '')"
      type="button"
      aria-label="like"
    >
      👍
    </button>
    }

    <!-- Reaction-Button -->
    <button
      type="button"
      aria-label="reaction"
      (mouseenter)="isReactionHovered.set(true)"
      (mouseleave)="isReactionHovered.set(false)"
    >
      <img
        [src]="
          isReactionHovered()
            ? 'img/add-reaction-comment-hover.svg'
            : 'img/add-reaction-comment.svg'
        "
        alt="reaction"
      />
    </button>

    @if(!isThreadItem()) {
    <!-- Answer-Button -->
    <button
      type="button"
      (click)="onOpenThread()"
      (click)="setParentDirectMessageId()"
      (mouseenter)="isAnswerHovered.set(true)"
      (mouseleave)="isAnswerHovered.set(false)"
    >
      <img
        [src]="isAnswerHovered() ? 'img/answer-hover.svg' : 'img/answer.svg'"
        alt="answer"
      />
    </button>
    }
  </div>
  }

  <img
    [src]="getSenderOfMessage()?.avatarUrl"
    class="avatar"
    [ngClass]="{
      'current-user': isMessageFromCurrentUser()
    }"
    alt=""
  />
  <div class="message-data">
    <div class="first-row">
      <span class="display-name">{{ getSenderOfMessage()?.displayName }}</span>
      <span>
        {{ getDateOfMessage() | date : "HH:mm 'Uhr'" : "No Date" }}
      </span>
    </div>
    <div
      class="message-content"
      [ngClass]="{
        'current-user': isMessageFromCurrentUser()
      }"
    >
      {{ message()?.content }}
    </div>

    <div class="last-row">
      <div
        class="reactions-wrapper"
        [ngClass]="{ 'current-user': isMessageFromCurrentUser() }"
      >
        @for (reaction of message()?.reactions; track $index) { @if
        (reaction.userIds.length > 0) {
        <button
          class="emoji-box"
          (click)="handleReaction(reaction.emoji, message()?.id ?? '')"
          (mouseenter)="hoveredReactionIndex.set($index)"
          (mouseleave)="hoveredReactionIndex.set(null)"
        >
          {{ reaction.emoji }}
          {{ reaction.userIds.length }} @if(hoveredReactionIndex() === $index){
          <div
            [@fadeInOut]="
              hoveredReactionIndex() === $index ? 'visible' : 'hidden'
            "
            class="reaction-dialog"
          >
            <div>{{ reaction.emoji }}</div>
            <div class="reaction">
              @let p = getFormattedUserNamesParts(reaction.emoji); @if (p) {
              <span class="reaction-username">{{ p.names }}</span
              ><br />
              <span class="nowrap">{{ p.verb }} reagiert</span>
              }
            </div>
          </div>
          }
        </button>

        } }
        <!-- @if(checkForReactions()){
        <button
          class="add-reaction-emoji"
          (mouseenter)="isReaction2Hovered.set(true)"
          (mouseleave)="isReaction2Hovered.set(false)"
          (click)="toggleEmojiPicker()"
        >
          <img
            [src]="
              isReaction2Hovered()
                ? 'img/add-reaction-comment-hover.svg'
                : 'img/add-reaction-comment.svg'
            "
            alt=""
          />
        </button>
        } -->
        <!-- @if(isEmojiPickerOpen()) {
        <div class="emoji-picker" #emojiPicker>
          @for (emoji of emojis; track $index) {
          <button
            type="button"
            class="emoji-btns"
            (click)="handleReaction(emoji, message()?.id ?? '')"
          >
            {{ emoji }}
          </button>
          }
        </div>
        } -->
      </div>
      @if(getThreadMessages().length === 1) {
      <div class="thread-wrapper">
        <span class="answer-amount"
          >{{ getThreadMessages().length }} Antwort</span
        >
        <span class="last-answer-time"
          >letzte Antwort
          {{ getTimeOfLastThreadMessage()?.toDate() | date : "HH:mm" }}</span
        >
      </div>
      } @if( getThreadMessages().length > 1 ) {
      <div class="thread-wrapper">
        <span class="answer-amount"
          >{{ getThreadMessages().length }} Antworten</span
        >
        <span class="last-answer-time"
          >letzte Antwort
          {{ getTimeOfLastThreadMessage()?.toDate() | date : "HH:mm" }}</span
        >
      </div>
      }
    </div>
  </div>
</div>
