@if(!isThreadItem()) {
<div class="seperator-wrapper">
  <div class="seperator"></div>
  <div class="message-date">
    @if(isToday()) { heute } @else {
    {{ getDateOfMessage() | date : "EEEE, d. MMMM" : "No Date" }}
    }
  </div>
  <div class="seperator"></div>
</div>
}
<div
  class="message-data-container"
  [ngClass]="{
    'current-user': isMessageFromCurrentUser(),
  }"
  (mouseenter)="onMouseEnterMessage()"
  (mouseleave)="onMouseLeaveMessage()"
>
  @if(isMessageFromCurrentUser()) {
  <div
    class="reaction-bar"
    [@reactionBarSlideCurrentUser]="
      reactionVisibleId() === message()?.id ? 'visible' : 'hidden'
    "
  >
    @if(!isThreadItem()) {
    <button type="button" aria-label="check">✅</button>
    <button type="button" aria-label="like">👍</button>
    }

    <!-- Reaction-Button -->
    <button
      type="button"
      aria-label="reaction"
      (mouseenter)="isReactionHovered.set(true)"
      (mouseleave)="isReactionHovered.set(false)"
    >
      <img
        [src]="
          isReactionHovered()
            ? 'img/add-reaction-comment-hover.svg'
            : 'img/add-reaction-comment.svg'
        "
        alt="reaction"
      />
    </button>

    <!-- Answer-Button -->
    @if (!isThreadItem()) {
    <button
      type="button"
      (click)="onOpenThread()"
      (click)="setParentDirectMessageId()"
      (mouseenter)="isAnswerHovered.set(true)"
      (mouseleave)="isAnswerHovered.set(false)"
    >
      <img
        [src]="isAnswerHovered() ? 'img/answer-hover.svg' : 'img/answer.svg'"
        alt="answer"
      />
    </button>
    }

    <!-- Dots-Button -->
    <button
      type="button"
      (mouseenter)="isDotsHovered.set(true)"
      (mouseleave)="isDotsHovered.set(false)"
    >
      <img
        class="dots"
        [src]="isDotsHovered() ? 'img/dots-hover.svg' : 'img/dots.svg'"
        alt="edit"
      />
    </button>
  </div>
  } @else {
  <div
    class="reaction-bar"
    [@reactionBarSlideOtherUser]="
      reactionVisibleId() === message()?.id ? 'visible' : 'hidden'
    "
  >
    @if(!isThreadItem()) {
    <button type="button" aria-label="check">✅</button>
    <button type="button" aria-label="like">👍</button>
    }

    <!-- Reaction-Button -->
    <button
      type="button"
      aria-label="reaction"
      (mouseenter)="isReactionHovered.set(true)"
      (mouseleave)="isReactionHovered.set(false)"
    >
      <img
        [src]="
          isReactionHovered()
            ? 'img/add-reaction-comment-hover.svg'
            : 'img/add-reaction-comment.svg'
        "
        alt="reaction"
      />
    </button>

    @if(!isThreadItem()) {
    <!-- Answer-Button -->
    <button
      type="button"
      (click)="onOpenThread()"
      (click)="setParentDirectMessageId()"
      (mouseenter)="isAnswerHovered.set(true)"
      (mouseleave)="isAnswerHovered.set(false)"
    >
      <img
        [src]="isAnswerHovered() ? 'img/answer-hover.svg' : 'img/answer.svg'"
        alt="answer"
      />
    </button>
    }
  </div>
  }

  <img
    [src]="getSenderOfMessage()?.avatarUrl"
    class="avatar"
    [ngClass]="{
      'current-user': isMessageFromCurrentUser()
    }"
    alt=""
  />
  <div class="message-data">
    <div class="first-row">
      <span class="display-name">{{ getSenderOfMessage()?.displayName }}</span>
      <span>
        {{ getDateOfMessage() | date : "HH:mm 'Uhr'" : "No Date" }}
      </span>
    </div>
    <div
      class="message-content"
      [ngClass]="{
        'current-user': isMessageFromCurrentUser()
      }"
    >
      {{ message()?.content }}
    </div>
    @if(getThreadMessages().length === 1) {
    <div class="last-row">
      <div class="reactions-wrapper">
        <span class="emoji-box">✅ 1</span>
        <span
          class="add-reaction-emoji"
          (mouseenter)="isReaction2Hovered.set(true)"
          (mouseleave)="isReaction2Hovered.set(false)"
        >
          <img
            [src]="
              isReaction2Hovered()
                ? 'img/add-reaction-comment-hover.svg'
                : 'img/add-reaction-comment.svg'
            "
            alt=""
          />
        </span>
      </div>
      <div class="thread-wrapper">
        <span class="answer-amount"
          >{{ getThreadMessages().length }} Antwort</span
        >
        <span class="last-answer-time"
          >letzte Antwort
          {{ getTimeOfLastThreadMessage()?.toDate() | date : "HH:mm" }}</span
        >
      </div>
    </div>
    } @else if( getThreadMessages().length > 1) {
    <div class="last-row">
      <div class="reactions-wrapper"></div>
      <div class="thread-wrapper">
        <span class="answer-amount"
          >{{ getThreadMessages().length }} Antworten</span
        >
        <span class="last-answer-time"
          >letzte Antwort
          {{ getTimeOfLastThreadMessage()?.toDate() | date : "HH:mm" }}</span
        >
      </div>
    </div>
    }
  </div>
</div>
