<div
  class="wrapper"
  (click)="onCloseDialog()"
  (keydown)="onCloseDialog()"
  tabindex="0"
>
  <dialog
    open
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
  >
    <div class="add-channel-header">
      <h2>Channel erstellen</h2>
      <button
        type="button"
        (click)="onCloseDialog()"
        (mouseenter)="isCloseBtnHovered.set(true)"
        (mouseleave)="isCloseBtnHovered.set(false)"
      >
        <img
          [src]="isCloseBtnHovered() ? 'img/close-hover.svg' : 'img/close.svg'"
          alt="close"
        />
      </button>
    </div>
    <p>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="channel-name">Channel-Name</label>
        <div class="input-wrapper">
          <input
            appAutofocus
            type="text"
            id="channel-name"
            name="channel-name"
            formControlName="channelName"
            placeholder="z.B. Kooperationsprojekte"
          />
          <img src="img/tag.svg" alt="tag" />
        </div>
        @if(this.channelAlreadyExisting) {
        <span class="error-message">Channelname bereits vergeben!</span>
        }
      </div>

      <div class="form-field">
        <label for="description">Beschreibung <span>(optional)</span></label>
        <textarea
          id="description"
          rows="1"
          name="description"
          formControlName="description"
          placeholder="Dein Text hier"
        ></textarea>
      </div>

      <div class="actions">
        <button
          type="submit"
          [disabled]="form.invalid || channelAlreadyExisting"
        >
          Erstellen
        </button>
      </div>
    </form>
  </dialog>
</div>
