<div class="wrapper">
  <span>Thread</span>
  <button (click)="onCloseThread()">
    <img src="img/close.svg" alt="" />
  </button>

  <div class="test-div">
    <span>{{ getParentMessage()?.content }}</span>
    @for(message of getThreadMessages(); track message.id) {
    <span>{{ message.content }}</span>
    }
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
    <div class="message-input-container">
      <div class="message-input-box">
        <textarea
          [formControl]="form.controls.content"
          [placeholder]="getChannelName()"
        >
        </textarea>
        <div class="textarea-button-container">
          <div class="textarea-button-group">
            <button
              type="button"
              class="emoji-container"
              (click)="toggleEmojiPicker($event)"
              #emojiToggleBtnThread
            >
              <img src="img/add-reaction.svg" alt="add-reaction" />
            </button>
            @if(isEmojiPickerOpen()) {
            <div class="emoji-picker" #emojiPickerThread>
              @for (emoji of emojis; track $index) {
              <button
                type="button"
                class="emoji-btn"
                (click)="addEmojiToInput(emoji)"
              >
                {{ emoji }}
              </button>
              }
            </div>
            }
            <button class="at-icon-button" type="button">
              <img src="img/at-icon.svg" alt="at-icon" />
            </button>
          </div>
          <button
            type="submit"
            class="send-button"
            [disabled]="form.controls.content.invalid"
          >
            <img src="img/send.svg" alt="send-message" />
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
