<div class="header">
  <span class="thread-info">
    <span class="title">Thread</span>
    @if(type === 'channel') {
    <span class="channel-name"> # {{ getChannelName() }} </span>
    }
  </span>
  <button (click)="onCloseThread()">
    <img src="img/close.svg" alt="" />
  </button>
</div>

<div class="thread-main">
  @if(type === 'channel') {
  <span>ParentMessage: {{ getParentChannelMessage()?.content }}</span>
  @for(message of getChannelThreadMessages(); track message.id) {
  <span>ThreadMessage: {{ message.content }}</span>
  } } @else if (type === 'user') {
  <span>ParentMessage: {{ getParentDirectMessage()?.content }}</span>
  @for(message of getDirectThreadMessagesByParentId(); track message.id) {
  <span>{{ message.content }}</span>
  } }
</div>

<div class="message-box-wrapper">
  @if(type === 'user') {
  <app-message-box
    [placeholder]="'Antworten...'"
    (send)="handleSendForDirectMessage($event)"
  />
  } @else if (type === 'channel') {
  <app-message-box
    [placeholder]="'Antworten...'"
    (send)="handleSendForChannelMessage($event)"
  />
  }
</div>
