@use "../../../../styles.scss" as *;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

button {
  background: unset;
  border: unset;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
    transition: $hover-transition;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.channel-name {
  font-size: 14px;
  color: $purple-2;
}

.thread-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: scroll;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  padding: 16px;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  z-index: 2;
  .title {
    font-size: 24px;
    font-weight: 700;
  }
  .thread-info {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.message-box-wrapper {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}

.message-input-container {
  padding-bottom: 24px;
}

.message-input-box {
  margin: 24px 24px 0 24px;
  padding-bottom: 68px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  position: relative;
  border: 1px solid $light-purple;

  &:has(textarea:focus) {
    border: 1px solid $purple-1;
  }

  textarea {
    border: unset;
    border-radius: 20px;
    padding: 20px;
    resize: none;
    outline: none;
    width: 100%;
    color: black;
    min-height: 64px;
    font-size: 20px;
  }

  .textarea-button-container {
    height: 68px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    > div {
      display: flex;
    }
  }

  .textarea-button-group {
    button {
      border: unset;

      @media (hover: none) and (pointer: coarse) {
        &:hover {
          cursor: default;
          transform: none;
        }
      }
    }
  }

  .send-button {
    border: unset;
    width: 40px;
    height: 40px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    @media (hover: none) and (pointer: coarse) {
      &:hover {
        cursor: default;
        transform: none;
      }
    }
  }
}

.emoji-container {
  position: relative;
  width: 48px;
  cursor: pointer;
  background-color: transparent;

  > img {
    width: 48px;
    height: 48px;
  }

  &:hover > img {
    content: url("/img/add-reaction-hover.svg");
    width: 24px;
    height: 48px;
  }

  &:focus > img {
    content: url("/img/add-reaction-hover.svg");
    width: 24px;
    height: 48px;
  }

  &:hover {
    background-color: $bg-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.emoji-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 50px;
  left: 25px;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 153px;
}

.emoji-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  transition: background 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 2px solid $text-gray;
    }
  }
}

.at-icon-button {
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 48px;

    img {
      content: url("/img/at-icon-hover.svg");
    }
  }
}

.parent-seperator-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  text-wrap: unset;
  color: $light-purple;
  font-size: 18px;
  padding: 8px 16px;
  .parent-seperator {
    display: flex;
    flex-grow: 1;
    height: 0px;
    border: 1px solid $light-purple;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
}
