<div class="header">
  <span class="thread-info">
    <span class="title">Thread</span>
    @if(type() === 'channel') {
    <span class="channel-name"> # {{ getChannelName() }} </span>
    }
  </span>
  <button
    (click)="onCloseThread()"
    (mouseover)="isCloseBtnHovered.set(true)"
    (mouseleave)="isCloseBtnHovered.set(false)"
    (focus)="isCloseBtnHovered.set(true)"
    (blur)="isCloseBtnHovered.set(false)"
  >
    <img
      [src]="isCloseBtnHovered() ? 'img/close-hover.svg' : 'img/close.svg'"
      alt=""
    />
  </button>
</div>

<div class="thread-main">
  @if(type() === 'channel') {
  <app-message-item
    [message]="getParentChannelMessage()"
    [isThreadItem]="true"
    [isParentMessage]="true"
    style="margin-top: 24px"
  />
  @if(getThreadMessagesOfChannelMessage().length === 1) {
  <div class="parent-seperator-wrapper">
    {{ getThreadMessagesOfChannelMessage().length }} Antwort
    <span class="parent-seperator"></span>
  </div>
  } @if(getThreadMessagesOfChannelMessage().length > 1) {
  <div class="parent-seperator-wrapper">
    {{ getThreadMessagesOfChannelMessage().length }} Antworten
    <span class="parent-seperator"></span>
  </div>
  } @for(message of getSortedThreadChannelMessages(); track message.id) {
  <app-message-item [message]="message" [isThreadItem]="true" />
  } } @if (type() === 'user') {
  <app-message-item
    [message]="getParentDirectMessage()"
    [isThreadItem]="true"
    [isParentMessage]="true"
    style="margin-top: 24px"
  />
  @if(getDirectThreadMessagesByParentId().length === 1) {
  <div class="parent-seperator-wrapper">
    {{ getDirectThreadMessagesByParentId().length }} Antwort
    <span class="parent-seperator"></span>
  </div>
  } @if(getDirectThreadMessagesByParentId().length > 1) {
  <div class="parent-seperator-wrapper">
    {{ getDirectThreadMessagesByParentId().length }} Antworten
    <span class="parent-seperator"></span>
  </div>
  } @for(message of getDirectThreadMessagesByParentId(); track message.id) {
  <app-message-item [message]="message" [isThreadItem]="true" />
  } }
</div>

<div class="message-box-wrapper">
  @if(type() === 'user') {
  <app-message-box
    [placeholder]="'Antworten...'"
    (send)="handleSendForDirectMessage($event)"
  />
  } @else if (type() === 'channel') {
  <app-message-box
    [placeholder]="'Antworten...'"
    (send)="handleSendForChannelMessage($event)"
  />
  }
</div>
