<div
  (click)="onCloseDialog()"
  (keydown)="onCloseDialog()"
  tabindex="0"
  class="wrapper"
>
  <div
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
    class="user-profile"
  >
    <div class="header">
      <span>Profile</span>
      <img
        (mouseover)="isHovering.set(true)"
        (mouseout)="isHovering.set(false)"
        (focus)="isHovering.set(true)"
        (blur)="isHovering.set(false)"
        (click)="onCloseDialog()"
        (keydown)="onCloseDialog()"
        tabindex="0"
        [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
        alt="close-icon"
      />
    </div>

    <img
      class="avatar"
      [src]="getCurrentUserInUserCollection()?.avatarUrl"
      alt=""
    />
    @if (!isEditMode()) {
    <div class="row">
      <span class="username"
        >{{ getCurrentUserInUserCollection()?.displayName }}
      </span>
      @if(getCurrentUserInUserCollection()?.uid !==
      '5PZvnr5y76hp4ekDsdcnxwumN0F2') {
      <button
        class="edit-btn"
        (click)="toggleEditMode()"
        [disabled]="isCurrentUserGuest()"
        [attr.title]="
          isCurrentUserGuest() ? 'Gäste können nicht bearbeiten' : null
        "
      >
        Bearbeiten
      </button>
      }
    </div>
    <div class="status-wrapper">
      <span class="status online"></span>
      <span class="status-text online">Aktiv </span>
    </div>
    <div class="email-address-container">
      <div>
        <img src="img/mail-icon.svg" alt="mail-image" />
        <span>E-Mail-Adresse</span>
      </div>
      <span class="email">{{ getCurrentUserInUserCollection()?.email }}</span>
    </div>
    } @else if (isEditMode()) {
    <div class="edit-header">
      <img src="img/account-circle.svg" alt="" />
      <span class="edit-name">Vollständiger Name</span>
    </div>
    <div class="input-wrapper">
      <input
        type="text"
        [placeholder]="getCurrentUserInUserCollection()?.displayName"
        [(ngModel)]="newDisplayedName"
      />
    </div>
    <div class="button-wrapper">
      <button class="cancel" (click)="onCloseDialog()">Abbrechen</button>
      <button class="save" (click)="updateDisplayedName()">Speichern</button>
    </div>
    }
  </div>
</div>
