@use "../../../../styles.scss" as *;

:host {
  padding-bottom: 16px;
}

.avatar {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  img {
    border-radius: 100%;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $backdrop;
  z-index: 1000;
}

.current-user-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding-right: 30px;
  cursor: pointer;
  span {
    font-size: 32px;
    font-weight: 700;
  }
}

.first-overlay {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 48px;
  background: #fff;
  border-radius: 30px 0 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1001;
  box-shadow: $box-shadow-overlay;
  button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 24px;
    padding: 16px;
    border-radius: 30px;
    &.btn-logout {
      &:hover {
        background-color: $bg-color;
        transition: $hover-transition;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  height: 100%;
  border-radius: 42px;
  background-color: #fff;
  width: 100%;
  input {
    height: 100%;
    border-style: none;
    color: $text-gray;
    font-size: 24px;
    &:focus {
      outline: none;
    }
  }
  img {
    width: 35px;
  }
  .searchbar-dialog {
    position: absolute;
    top: 64px;
    left: 64px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 32px;
    z-index: 1000;
    border: 1px solid $light-purple;
    border-radius: 0 20px 20px 20px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 30px;
  img {
    height: 70px;
  }
  span {
    font-size: 32px;
    font-weight: 700;
  }
}

.status {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: $online-green;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 16px;
}
