<div class="wrapper">
  <div class="logo-wrapper">
    <img src="img/dabubble-logo.svg" alt="" />
    <span>DABubble</span>
  </div>
  <div class="input-wrapper">
    <input
      [formControl]="searchBarInput"
      (input)="checkForAtOrHash()"
      type="text"
      placeholder="Devspace durchsuchen"
    />
    <img src="img/search.svg" alt="" />
    @if(isAtInInput()) {
    <div class="searchbar-dialog">
      @for(user of getFilteredUsers(); track user.uid) { @if(user.uid !==
      getCurrentUser()?.uid) {
      <a [routerLink]="['/user', user.uid]">
        <div class="avatar-wrapper">
          <img [src]="user.avatarUrl" alt="Avatar" />
          <span
            class="status-dot"
            [ngClass]="{ online: isUserOnline(user.uid) }"
          ></span>
        </div>
        {{ user.displayName }}
      </a>
      } } @empty {
      <span>Keine Benutzer gefunden</span>
      }
    </div>
    } @else if (isHashInInput()) {
    <div class="searchbar-dialog">
      @for(channel of getFilteredChannels(); track channel.id) {
      <a [routerLink]="['/channels', channel.id]"># {{ channel.name }}</a>
      } @empty {
      <span>Keine Channels gefunden</span>
      }
    </div>
    <!--Search for users, channels and messages-->
    } @else if(getFilteredItems()?.channels?.length ||
    getFilteredItems()?.users?.length) {
    <div class="searchbar-dialog">
      <!--Filtered Users-->
      @if(getFilteredItems()?.users?.length) { @for(user of
      getFilteredItems()?.users; track user.uid) {
      <a [routerLink]="['/user', user.uid]">
        <div class="avatar-wrapper">
          <img [src]="user.avatarUrl" alt="Avatar" />
          <span
            class="status-dot"
            [ngClass]="{ online: isUserOnline(user.uid) }"
          ></span>
        </div>
        {{ user.displayName }}
      </a>
      } }
      <!--Filtered Channels-->
      @else if(getFilteredItems()?.channels) { @for(channel of
      getFilteredChannels(); track channel.id) {
      <a [routerLink]="['/channels', channel.id]"># {{ channel.name }}</a>
      } }
      <!--Direct Messages-->
      @else if (getFilteredItems()?.directMessages) { @for(dm of
      getFilteredItems()?.directMessages; track dm.id){
      <a>{{ dm.content }}</a>
      } }
      <!--Channel Messages-->
      @else if (getFilteredItems()?.channelMessages) { @for(cm of
      getFilteredItems()?.channelMessages; track cm.id){
      <a>{{ cm.content }}</a>
      } }
    </div>
    }
  </div>
  <div
    (click)="toogleArrowDown()"
    (keydown)="toogleArrowDown()"
    tabindex="0"
    class="current-user-wrapper"
  >
    <span>{{ getCurrentUser()?.displayName }}</span>
    <span class="current-user-avatar">
      <img [src]="getCurrentUser()?.avatarUrl" alt="" />
      <span class="status"></span>
    </span>
    <img class="arrow-down" src="img/arrow-down.svg" alt="" />
  </div>
  @if(arrowDownOpen() && !userProfileDialogOpen()) {
  <div class="first-overlay">
    <button (click)="onOpenDialog()">Profile</button>
    <button class="btn-logout" (click)="onLogout()">Log out</button>
  </div>
  <div
    (click)="toogleArrowDown()"
    (keydown)="toogleArrowDown()"
    tabindex="0"
    class="backdrop"
  ></div>
  } @if(userProfileDialogOpen()) {
  <app-current-user-profile (closeDialog)="onCloseUserProfileDialog()" />
  }
</div>
