<div class="main-chat">
  <div class="channel-info-container">
    <div class="channel-info-group">
      <div
        (click)="toggleEditChannelDialog()"
        (keydown)="toggleEditChannelDialog()"
        tabindex="0"
        class="channel-info"
      >
        <img src="img/tag-black2.svg" alt="tag" />
        <span class="channel-name">{{ getChannelName() }}</span>
        <img src="img/channel-info-arrow-down.svg" alt="arrow" />
      </div>
      @if(isEditChannelDialogOpen()){
      <div
        (click)="toggleEditChannelDialog()"
        (keydown)="toggleEditChannelDialog()"
        tabindex="0"
        class="dialog-backdrop"
      ></div>
      <app-edit-channel (closeDialogEditChannel)="toggleEditChannelDialog()" />
      }
    </div>
    <div class="channel-members-group">
      <div
        class="channel-members-info"
        (click)="toggleShowMembersDialog()"
        (keydown)="toggleShowMembersDialog()"
        tabindex="0"
      >
        <div class="channel-members-img">
          @for(member of getMembersOfCurrentChannel(); track member?.uid) {
          <img [src]="member?.avatarUrl" alt="channel-members-profil-img" />
          }
        </div>
        <span class="channel-members-count">{{
          getMembersOfCurrentChannel()?.length
        }}</span>
      </div>
      <img
        (click)="toogleAddMemebersDialog()"
        (keydown)="toogleAddMemebersDialog()"
        tabindex="0"
        src="img/add-member.svg"
        alt="add-members"
        class="add-new-member"
      />
      @if(isAddMembersDialogOpen()){
      <div
        (click)="toogleAddMemebersDialog()"
        (keydown)="toogleAddMemebersDialog()"
        tabindex="0"
        class="dialog-backdrop"
      ></div>
      <app-add-members
        (closeDialog)="toogleAddMemebersDialog()"
        [channelName]="getChannelName()"
      />
      } @if(isShowMembersDialogOpen()){
      <div class="dialog-backdrop"></div>
      <div
        class="dialog"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        tabindex="0"
        class="dialog"
      >
        <div class="card-header">
          <span>Mitglieder</span>
          <img
            (click)="toggleShowMembersDialog()"
            (keydown)="toggleShowMembersDialog()"
            tabindex="0"
            (mouseover)="isHovering.set(true)"
            (mouseout)="isHovering.set(false)"
            (focus)="isHovering.set(true)"
            (blur)="isHovering.set(false)"
            [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
            alt=""
          />
        </div>

        <div class="members-list">
          <button
            class="user-entry"
            (click)="toggleUserProfileDialog()"
            (click)="toggleShowMembersDialog()"
            (click)="setSelectedMemeberId(getCurrentUserData()?.uid!)"
          >
            <div class="avatar-wrapper">
              <img [src]="getCurrentUserData()?.avatarUrl" alt="Avatar" />
              <span class="status-dot" [ngClass]="{ online: true }"></span>
            </div>
            <span>{{ getCurrentUserData()?.displayName }} (Du)</span>
          </button>

          @for(member of getMembersOfCurrentChannel(); track member?.uid) {
          @if(member?.uid !== getCurrentUserData()?.uid) {
          <button
            class="user-entry"
            (click)="toggleUserProfileDialog()"
            (click)="toggleShowMembersDialog()"
            (click)="setSelectedMemeberId(member?.uid || '')"
          >
            <div class="avatar-wrapper">
              <img [src]="member?.avatarUrl" alt="Avatar" />
              <span
                class="status-dot"
                [ngClass]="{ online: isUserOnline(member?.uid!) }"
              ></span>
            </div>
            <span>{{ member?.displayName }}</span>
          </button>
          }}
          <button
            class="user-entry"
            (click)="toogleAddMemebersDialog()"
            (click)="toggleShowMembersDialog()"
          >
            <img
              class="member-image"
              src="img/add-member.svg"
              alt="add-member"
            />Mitglieder hinzufügen
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="messages-container">
    @for(message of getMessagesReversed(); track message.id; let i = $index) {
    @if(!message.parentMessageId) {
    <button
      class="message"
      [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
    >
      <div
        class="message-content-wrapper"
        [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
      >
        <img
          class="user-avatar"
          [src]="getUserBySenderId(message.senderId)?.avatarUrl"
          alt="user-image"
        />
        <div
          class="message-details"
          [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
        >
          <div
            class="message-header"
            [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
          >
            <b>{{ getUserBySenderId(message.senderId)?.displayName }}</b>
            <span>{{
              getDateOfMessageById(message.id)
                | date : "HH:mm 'Uhr'" : "No Date"
            }}</span>
          </div>
          @if (editMessageId() !== message.id) {
          <div
            class="message-content"
            [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
          >
            {{ message.content }}
          </div>
          } @else {
          <textarea
            class="message-content"
            type="text"
            [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
            [value]="messageContent()"
            (input)="onInputName($event)"
          ></textarea>
          } @if (editMessageId() === message.id) {
          <div class="button-edit-container">
            <button (click)="onUpdateMessage()">Speichern</button>
            <button (click)="getMessageContent()">Abbrechen</button>
          </div>
          }
        </div>
      </div>

      <div class="set-reaction">
        <!-- @for (reaction of message.reactions ?? []; track reaction.type) { -->
        <span class="reaction-wrapper">
          <img src="img/add-reaction.svg" alt="add reaction" />
          <span class="reaction-count">1</span>
        </span>
        @if (getAmountOfThreadMessages(message.id) !== 0) {
        <button
          (click)="onOpenThread()"
          (click)="setCurrentParentChannelMessageId(message.id)"
        >
          {{ getAmountOfThreadMessages(message.id) }} Antworten
        </button>
        }
        <!-- } -->
      </div>

      @if (editMessageId() === null) {
      <div
        class="reaction-bar"
        [class.outgoing]="isCurrentUserSenderOfMessage(message.id)"
      >
        <button type="button" aria-label="check">
          <span>✅</span>
        </button>
        <button type="button" aria-label="like">
          <span>👍</span>
        </button>
        <button type="button" aria-label="reaction">
          <img src="img/add-reaction-comment.svg" alt="reaction" />
        </button>
        <button
          type="button"
          (click)="onOpenThread()"
          (click)="setCurrentParentChannelMessageId(message.id)"
        >
          <img src="img/answer.svg" alt="answer" />
        </button>
        @if (isCurrentUserSenderOfMessage(message.id)) {
        <div class="edit-message" aria-label="more">
          <img tabindex="0" src="img/dots.svg" alt="more" />
          <button (click)="setEditMode(message.id)" class="edit-action">
            Nachricht bearbeiten
          </button>
        </div>
        }
      </div>
      }
    </button>

    @if(isNewDay(i)) {
    <div class="time-separator">
      <span class="date-text">
        {{
          isToday(getDateOfMessageById(message.id))
            ? "Heute"
            : (getDateOfMessageById(message.id)
              | date : "EEEE, d. MMMM" : "No Date")
        }}
      </span>
    </div>
    } } }
  </div>
  <app-message-box
    [placeholder]="'Nachricht an ' + getChannelName()"
    (send)="handleSend($event)"
  />
</div>
@if(isUserProfileDialogOpen()) {
<div class="dialog-backdrop"></div>
<app-user-profile
  [selectedMemberId]="selectedMemberId()"
  (closeDialogUserProfile)="toggleUserProfileDialog()"
/>
}
