<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
  <textarea
    #textareaRef
    [formControl]="form.controls.content"
    [placeholder]="placeholder()"
    (input)="checkForAtOrHash()"
  ></textarea>
  <div class="textarea-button-container">
    <div class="textarea-button-group">
      <button
        type="button"
        class="picker-btn"
        (click)="toggleEmojiPicker($event)"
        (mouseenter)="isEmojiBtnHovered.set(true)"
        (mouseleave)="isEmojiBtnHovered.set(false)"
        #emojiToggleBtn
      >
        <img
          class="add-reaction-textarea"
          [src]="
            isEmojiBtnHovered()
              ? 'img/add-reaction-hover.svg'
              : 'img/add-reaction.svg'
          "
          alt="add-reaction"
        />
      </button>
      @if(isEmojiPickerOpen()) {
      <div class="emoji-picker" #emojiPicker>
        @for (emoji of emojis; track $index) {
        <button
          type="button"
          class="emoji-btns"
          (click)="addEmojiToInput(emoji)"
        >
          {{ emoji }}
        </button>
        }
      </div>
      } @if(isChannelMessage() || isNewMessage()){
      <button
        (mouseenter)="isAtBtnHovered.set(true)"
        (mouseleave)="isAtBtnHovered.set(false)"
        (click)="toggleAtInInput()"
        class="picker-btn"
        type="button"
      >
        <img
          [src]="isAtBtnHovered() ? 'img/at-icon-hover.svg' : 'img/at-icon.svg'"
          alt="at-icon"
        />
      </button>
      }
    </div>
    <button
      (mouseenter)="isSendBtnHovered.set(true)"
      (mouseleave)="isSendBtnHovered.set(false)"
      type="submit"
      class="send-button"
      [disabled]="form.controls.content.invalid"
    >
      <img
        [src]="isSendBtnHovered() ? 'img/send-hover.svg' : 'img/send.svg'"
        alt="send-message"
      />
    </button>
  </div>
  @if(isAtInInput() && isChannelMessage()) {
  <div class="dialog">
    <div class="scrollable-content">
      @if(isChannelMessage()) { @for(cm of getChannelMembers(); track cm?.uid )
      {
      <a
        class="user-entry"
        [routerLink]="['/user', cm?.uid]"
        (click)="resetCurrentChannelId(); resetForm()"
      >
        <div class="avatar-wrapper">
          <img [src]="cm?.avatarUrl" alt="Avatar" />
          <span class="status-dot"></span>
        </div>
        <span class="display-name">{{ cm?.displayName }}</span>
      </a>
      } }
    </div>
  </div>
  } @if(isAtInInput() && isNewMessage()) {
  <div class="dialog">
    <div class="scrollable-content">
      @for(user of getAllUsers(); track user.uid ) {
      <a
        class="user-entry"
        [routerLink]="['/user', user.uid]"
        (click)="resetCurrentChannelId()"
        (click)="resetForm()"
      >
        <div class="avatar-wrapper">
          <img [src]="user.avatarUrl" alt="Avatar" />
          <span class="status-dot"></span>
        </div>
        <span class="display-name">{{ user.displayName }}</span>
      </a>
      }
    </div>
  </div>
  } @if(isHashInInput()) {
  <div class="dialog">
    <div class="scrollable-content">
      @for(channel of getChannelsOfCurrentUser(); track channel.id ) {
      <a
        class="user-entry"
        [routerLink]="['/channel', channel.id]"
        (click)="resetCurrentChannelId()"
        (click)="resetForm()"
      >
        <span class="display-name">{{ channel.name }}</span>
      </a>
      }
    </div>
  </div>
  }
</form>
