<div class="login-wrapper">
  <div class="logo-div">
    <img src="img/dabubble-logo.svg" alt="" />
    <span>DABubble</span>
  </div>
  <div class="login-box">
    <div class="header-wrapper">
      <a routerLink="/login">
        <img src="img/arrow-back.svg" alt="" />
      </a>
      <h1>Passwort zurücksetzten</h1>
    </div>
    @if (errorMessage) {
    <div>{{ errorMessage }}</div>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field-wrapper">
        <div class="input-div">
          <img src="img/password-icon.svg" alt="" />
          <input
            type="password"
            placeholder="Neues Password"
            formControlName="password1"
          />
        </div>
        @if(password1?.hasError('required') && password1?.touched) {
        <p>Bitte ein gültiges Passwort eingeben!</p>
        }
      </div>
      <div class="field-wrapper">
        <div class="input-div">
          <img src="img/password-icon.svg" alt="" />
          <input
            type="password"
            placeholder="Neues Passwort bestätigen"
            formControlName="password2"
          />
        </div>
        @if(password2?.hasError('required') && password2?.touched) {
        <p>Bitte ein gültiges Passwort eingeben!</p>
        }
      </div>
      <div class="btn-wrapper">
        <button
          class="btn-submit"
          type="submit"
          [disabled]="!this.comparePasswords()"
        >
          Passwort ändern
        </button>
      </div>
    </form>
  </div>
  @if (this.showConfirmation()) {
  <div class="confirmation-overlay" @slideInFromRight>
    Konto erfolgreich erstellt!
  </div>
  }
  <div class="legal-wrapper">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
</div>
