<div
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <span>Leute hinzufügen</span>
    <img
      (click)="onCloseDialog()"
      (keydown)="onCloseDialog()"
      tabindex="0"
      (mouseover)="isHovering.set(true)"
      (mouseout)="isHovering.set(false)"
      (focus)="isHovering.set(true)"
      (blur)="isHovering.set(false)"
      [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
      alt=""
    />
  </div>
  <div class="channel-name"># {{ channelName() }}</div>
  <div class="input-wrapper">
    <input type="text" placeholder="Name eingeben" />
  </div>
  <button [disabled]="isButtonDisabled()">Hinzufügen</button>
</div>
