<div
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <span>Leute hinzufügen</span>
    <img
      (click)="onCloseDialog()"
      (keydown)="onCloseDialog()"
      tabindex="0"
      (mouseover)="isHovering.set(true)"
      (mouseout)="isHovering.set(false)"
      (focus)="isHovering.set(true)"
      (blur)="isHovering.set(false)"
      [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
      alt=""
    />
  </div>
  <div class="channel-name"># {{ channelName() }}</div>
  <div class="input-wrapper">
    @if(selectedUsers().length > 0) { @for(user of selectedUsers(); track
    user.uid){
    <span class="tag">
      <img [src]="user.avatarUrl" alt="" />
      <span>{{ user.displayName }}</span>
      <img class="close-icon" src="img/close.svg" alt=""
    /></span>
    } }
    <input type="text" placeholder="Name eingeben" [(ngModel)]="userInput" />
    @if(filteredUsers().length > 0) {
    <div class="filtered-users">
      @for(user of filteredUsers(); track user.uid) {
      <span
        (click)="pushSelectedUser(user.uid)"
        (keydown)="pushSelectedUser(user.uid)"
        tabindex="0"
        class="user-selection"
      >
        <img [src]="user.avatarUrl" alt="" />
        <span>{{ user.displayName }}</span>
      </span>
      }
    </div>
    }
  </div>

  <button [disabled]="isButtonDisabled()">Hinzufügen</button>
</div>
