<div
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <span>Leute hinzufügen</span>
    <img
      (click)="onCloseDialog()"
      (keydown)="onCloseDialog()"
      tabindex="0"
      (mouseover)="isHovering.set(true)"
      (mouseout)="isHovering.set(false)"
      (focus)="isHovering.set(true)"
      (blur)="isHovering.set(false)"
      [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
      alt=""
    />
  </div>
  <div class="channel-name"># {{ channelName() }}</div>
  <div class="input-wrapper">
    <span class="tags">
      <span>
        <img src="img/avatar/avatar1.svg" alt="" />
        <span>Elise Roth</span>
        <img class="close-icon" src="img/close.svg" alt="" />
      </span>
    </span>
    <input type="text" placeholder="Name eingeben" [(ngModel)]="userInput" />
    @if(filteredUsers().length > 0) {
    <div class="filter-user">
      @for(user of filteredUsers(); track user.uid) {
      <span class="user">{{ user.displayName }}</span>
      }
    </div>
    }
  </div>

  <button [disabled]="isButtonDisabled()">Hinzufügen</button>
</div>
