@use "../../../../styles.scss" as *;

.dialog {
  background-color: #fff;
  border-radius: 30px 0 30px 30px;
  box-shadow: $box-shadow-overlay;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 500px;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 24px;
      font-weight: 700;
    }
    img {
      cursor: pointer;
      width: 32px;
      padding: 8px;
      border-radius: 100%;
      &:hover {
        background-color: $bg-color;
      }
    }
  }
  .channel-name {
    color: $purple-2;
    font-size: 18px;
  }
  .input-wrapper {
    position: relative;
    padding: 12px 25px;
    border: 1px solid $light-purple;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    input {
      border-style: none;
      &:focus {
        outline: none;
      }
      flex-grow: 1;
    }
    .filtered-users {
      position: absolute;
      top: 64px;
      padding: 32px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 0 30px 30px 30px;
      border: 1px solid $light-purple;
      box-shadow: $box-shadow-overlay;
      cursor: pointer;
      .user-selection {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        &:hover {
          background-color: $bg-color;
          border-radius: 30px;
          transition: $hover-transition;
        }
        img {
          width: 50px;
          border-radius: 100%;
        }
      }
    }
  }
  button {
    background-color: $purple-1;
    border-style: none;
    border-radius: 25px;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    &:hover {
      background-color: $purple-2;
    }
    &:disabled {
      background-color: $text-gray;
      cursor: not-allowed;
    }
  }
}

.radio-wrapper {
  display: flex;
  gap: 16px;
}

.tag {
  background-color: $bg-color;
  border-radius: 20px;
  padding: 3px 20px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  img {
    width: 34px;
    border-radius: 100%;
  }
  .close-icon {
    padding: 8px;
    img {
      width: 10px;
    }
  }
}
