<div
  class="dialog"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <span>Profil</span>
    <img
      (click)="onCloseDialog()"
      (keydown)="onCloseDialog()"
      tabindex="0"
      (mouseover)="isHovering.set(true)"
      (mouseout)="isHovering.set(false)"
      (focus)="isHovering.set(true)"
      (blur)="isHovering.set(false)"
      [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
      alt=""
    />
  </div>
  <img [src]="getSelectedChannelMember()?.avatarUrl" alt="" />
  <span>{{ getSelectedChannelMember()?.displayName }}</span>
  <span>{{ getSelectedChannelMember()?.isOnline }}</span>
  <span>{{ getSelectedChannelMember()?.email }}</span>
  <a
    class="user-entry"
    [routerLink]="['/user', getSelectedChannelMember()?.uid]"
    >Nachricht</a
  >
</div>
