<div
  (click)="onCloseDialog()"
  (keydown)="onCloseDialog()"
  tabindex="0"
  class="wrapper"
>
  <div
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="0"
    class="user-profile"
  >
    <div class="header">
      <span>Profile</span>
      <img
        (mouseover)="isHovering.set(true)"
        (mouseout)="isHovering.set(false)"
        (focus)="isHovering.set(true)"
        (blur)="isHovering.set(false)"
        (click)="onCloseDialog()"
        (keydown)="onCloseDialog()"
        tabindex="0"
        [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
        alt="close-icon"
      />
    </div>
    <img
      class="avatar"
      [src]="getCurrentUserInUserCollection()?.avatarUrl"
      alt=""
    />
    @if (!isEditMode()) {
    <div class="row">
      <span class="username">{{
        getCurrentUserInUserCollection()?.displayName
      }}</span>
      <button (click)="toggleEditMode()">Bearbeiten</button>
    </div>
    @if(getCurrentUserInUserCollection()?.status === 'online') {
    <div class="status-wrapper">
      <span class="status online"></span>
      <span class="status-text online">Aktiv </span>
    </div>
    } @else {
    <div class="status-wrapper">
      <span class="status"></span> <span class="status-text">Inaktiv</span>
    </div>
    }
    <div class="row">
      <img src="img/mail-icon.svg" alt="" />
      <span>E-Mail-Adresse</span>
      <span class="email">{{ getCurrentUserInUserCollection()?.email }}</span>
    </div>
    } @else if (isEditMode()) {
    <div class="edit-header">
      <img src="img/account-circle.svg" alt="" />
      <span class="edit-name">Vollständiger Name</span>
    </div>
    <div class="input-wrapper">
      <input type="text" placeholder="Dein Name hier" />
    </div>
    <div class="button-wrapper">
      <button class="cancel">Abbrechen</button>
      <button class="save">Speichern</button>
    </div>
    }
  </div>
</div>
