
<div class="main-chat">


  <div class="channel-info-container">
    <div class="channel-info-group">
      <img src="img/chat/tag.svg" alt="tag" />
      <span class="channel-name">Entwicklerteam</span>
      <img src="img/chat/channel-info-arrow-down.svg" alt="arrow" />
    </div>

    <div class="channel-member-group">
      <div class="channel-member-img">
        <img src="img/chat/frederik-beck-chat.svg" alt="channel-members-profil-img" />
        <img src="img/chat/noah-braun-chat.svg" alt="channel-members-profil-img" />
        <img src="img/chat/sofia-mueller-chat.svg" alt="channel-members-profil-img" />
      </div>
      <span class="channel-members-count">3</span>
      <img src="img/chat/add-member.svg" alt="add-members" class="add-new-member" />
    </div>
  </div>

  <app-user-profile />
</div>
