<div class="main-chat">
  <div class="channel-info-container">
    <div class="channel-info-group">
      <img src="img/chat/tag.svg" alt="tag" />
      <span class="channel-name">Entwicklerteam</span>
      <img src="img/chat/channel-info-arrow-down.svg" alt="arrow" />
    </div>

    <div class="channel-member-group">
      <div class="channel-member-img">
        <img
          src="img/chat/frederik-beck-chat.svg"
          alt="channel-members-profil-img"
        />
        <img
          src="img/chat/noah-braun-chat.svg"
          alt="channel-members-profil-img"
        />
        <img
          src="img/chat/sofia-mueller-chat.svg"
          alt="channel-members-profil-img"
        />
      </div>
      <span class="channel-members-count">3</span>
      <img
        src="img/chat/add-member.svg"
        alt="add-members"
        class="add-new-member"
      />
    </div>
  </div>

  <div class="message-container">
    <div class="sended-messages-wrapper">


      @for (message of messages; track message.content; let i = $index){
      <div class="time-separator">
        <span class="date-text">08. April 2025</span>
      </div>

      <div class="message outgoing" (click)="editMessage(i)">
        <img
        class="user-avatar"
        [src]="message.avatarUrl"
        alt="user-image"
        />
        <div class="message-details outgoing">
          <div class="message-header outgoing">
            <b>{{ message.username }}</b>
            <span>{{ message.timestamp?.toDate() | date: 'HH:mm' }} Uhr</span>
          </div>
          <div class="message-content outgoing">
            {{ message.content }}
          </div>
        </div>
      </div>
    }


      <!--
      <div class="time-separator">
        <span class="date-text">Heute</span>
      </div>
      <div class="message outgoing">
        <img
          class="user-avatar"
          src="img/chat/noah-braun-chat.svg"
          alt="user-image"
        />
        <div class="message-details outgoing">
          <div class="message-header outgoing">
            <b>ME</b>
            <span>10:35 Uhr</span>
          </div>
          <div class="message-content outgoing">
            {{ message.text }}
          </div>
          <div class="answer-time-label">
            <button>1 Antworten</button>
            <span>Letzte Antwort 10:38</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="message-input-container">
    <div class="message-input-box">
      <textarea placeholder="Nachricht an #Entwicklerteam" [(ngModel)]="newMessage"></textarea>
      <div class="textarea-button-container">
        <div class="textarea-button-group">
          <button>
            <img
              src="img/chat/add-reaction.svg"
              alt="add-reaction"
            />
          </button>
          <button>
            <img src="img/chat/at-icon.svg" alt="add-icon" />
          </button>
        </div>
        <button class="send-button" (click)="sendMessage()">
          <img src="img/chat/send.svg" alt="send-message" />
        </button>
      </div>
    </div>
  </div>
</div>
