<div
  class="dialog"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <div>
      <span># {{ channelName() }}</span>
      <img
        (mouseenter)="isHovering.set(true)"
        (mouseleave)="isHovering.set(false)"
        (click)="onCloseDialog()"
        [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
        tabindex="0"
        (keydown)="onCloseDialog()"
        alt=""
      />
    </div>
  </div>

  <div
    class="channel-group-container"
    [class.border-light-purple]="isInputNameReadonly()"
  >
    <div>
      <div
        class="channel-group"
        [class.reduce-padding]="!isInputNameReadonly()"
      >
        <span>Channel-Name</span>
        @if (isInputNameReadonly()) {
        <button class="edit-btn" (click)="confirmChannelNameEdit()">
          Bearbeiten</button
        >} @else {
        <button class="edit-btn" (click)="onSaveChannelName()">
          Speichern
        </button>
        }
      </div>
    </div>
    @if (isInputNameReadonly()) {
    <div class="channel-name-readonly">{{ inputNameValue() }}</div>
    } @else {
    <input
      [readonly]="isInputNameReadonly()"
      [value]="inputNameValue()"
      (input)="onInputName($event)"
    />
    }
  </div>

  <div
    class="channel-group-container"
    [class.border-light-purple]="isInputDescriptionReadonly()"
  >
    <div>
      <div
        class="channel-group"
        [class.reduce-padding]="!isInputDescriptionReadonly()"
      >
        <span>Beschreibung</span>
        @if (isInputDescriptionReadonly()) {

        <button class="edit-btn" (click)="confirmChannelDescriptionEdit()">
          Bearbeiten
        </button>
        }@else {
        <button class="edit-btn" (click)="onSaveChannelDescription()">
          Speichern
        </button>
        }
      </div>
    </div>
    @if (isInputDescriptionReadonly()) {
    <div class="channel-description-readonly">
      {{ inputDescriptionValue() }}
    </div>
    } @else {
    <textarea
      [readonly]="isInputDescriptionReadonly()"
      [value]="inputDescriptionValue()"
      (input)="onInputDescription($event)"
      rows="1"
    ></textarea>
    }
    <div class="separatorX"></div>
    <div
      class="created-by-container"
      [class.created-padding-animation]="!isInputDescriptionReadonly()"
    >
      <span>Erstellt von</span>
      <span class="created-by"> {{ creatorName() }} </span>
    </div>
  </div>
  <button class="leave-channel-btn" (click)="leaveChannel()">
    Channel verlassen
  </button>
</div>
