@use "../../../../../styles.scss" as *;

:host {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
}

.dialog {
  background-color: #fff;
  border-radius: 0 30px 30px 30px;
  box-shadow: $box-shadow-overlay;
  padding: 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 500px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 700;
    }

    img {
      cursor: pointer;
      width: 32px;
      padding: 8px;
      border-radius: 100%;

      &:hover {
        background-color: $bg-color;
      }
    }
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    span {
      font-size: 24px;
      font-weight: 700;
    }

    >span {
      font-size: 18px;
      font-weight: 400;
      margin: 24px 0 10px 0;
    }
  }

  input {
    border: none;
  }

  .channel-name-container {
    // padding: 24px;
    border-radius: 30px;

    .channel-name-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 24px 0px 24px;
      transition: padding 0.2s;
    }
    .reduce-padding {
    padding: 0px 0px 24px 0px;
  }

    span {
      font-size: 18px;
      font-weight: 700;
    }

    button {
      background-color: transparent;
      color: $purple-3;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      min-width: 100px;
      border: none;

      &:hover {
        font-weight: 600;
      }
    }

    input {
      border-radius: 40px;
      padding: 18px 20px 18px 20px;
      width: 100%;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  .border-light-purple {
    border: 1px solid $light-purple;
  }


}
