<div
  class="dialog"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <div>
      <span># {{ channelName() }}</span>
      <img
        (click)="onCloseDialog()"
        (keydown)="onCloseDialog()"
        tabindex="0"
        (mouseover)="isHovering.set(true)"
        (mouseout)="isHovering.set(false)"
        (focus)="isHovering.set(true)"
        (blur)="isHovering.set(false)"
        [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
        alt=""
      />
    </div>

  </div>

  <div
    class="channel-group-container"
    [class.border-light-purple]="isInputNameReadonly()"
  >
    <div>
      <div
        class="channel-group"
        [class.reduce-padding]="!isInputNameReadonly()"
      >
        <span>Channel-Name</span>
        <button
          (click)="confirmChannelNameEdit()"
          [style.display]="!isInputNameReadonly() ? 'none' : 'inline-block'"
        >
          Bearbeiten
        </button>
        <button
          (click)="confirmChannelNameEdit()"
          [style.display]="isInputNameReadonly() ? 'none' : 'inline-block'"
        >
          Speichern
        </button>
      </div>
    </div>
    <input
      #channelNameInput
      [class.border-light-purple]="!isInputNameReadonly()"
      [readonly]="isInputNameReadonly()"
      [value]="inputNameValue()"
      (input)="onInput($event)"
    />
  </div>

  <div
    class="channel-group-container"
    [class.border-light-purple]="isInputDescriptionReadonly()"
  >
    <div>
      <div
        class="channel-group"
        [class.reduce-padding]="!isInputDescriptionReadonly()"
      >
        <span>Beschreibung</span>
        <button
          (click)="confirmChannelDescriptionEdit()"
          [style.display]="
            !isInputDescriptionReadonly() ? 'none' : 'inline-block'
          "
        >
          Bearbeiten
        </button>
        <button
          (click)="confirmChannelDescriptionEdit()"
          [style.display]="
            isInputDescriptionReadonly() ? 'none' : 'inline-block'
          "
        >
          Speichern
        </button>
      </div>
    </div>
    <textarea
      #channelDescriptionTextarea
      [class.border-light-purple]="!isInputDescriptionReadonly()"
      [readonly]="isInputDescriptionReadonly()"
      [value]="inputDescriptionValue()"
      (input)="onInputDescription($event)"
      rows="1"
    ></textarea>
    <div class="separatorX"></div>
    <div
      class="created-by-container"
      [class.created-padding-animation]="!isInputDescriptionReadonly()"
    >
      <span>Erstellt von</span>
      <span class="created-by"> --Username einfügen-- </span>
    </div>
  </div>
</div>
