<div
  class="dialog"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  tabindex="0"
  class="dialog"
>
  <div class="card-header">
    <div>
      <span># {{ channelName() }}</span>
      <img
        (click)="onCloseDialog()"
        (keydown)="onCloseDialog()"
        tabindex="0"
        (mouseover)="isHovering.set(true)"
        (mouseout)="isHovering.set(false)"
        (focus)="isHovering.set(true)"
        (blur)="isHovering.set(false)"
        [src]="isHovering() ? closeIconHoverSrc : closeIconSrc"
        alt=""
      />
    </div>
    <span>Beschreibungstext hier einfügen</span>
  </div>

  <div
    class="channel-name-container"
    [class.border-light-purple]="isInputReadonly()"
  >
    <div>

      <div class="channel-name-group" [class.reduce-padding]="!isInputReadonly()">
        <span>Channel-Name</span>
        <button (click)="confirmChannelNameEdit()" [style.display]="!isInputReadonly() ? 'none' : 'inline-block'">Bearbeiten</button>
        <button (click)="confirmChannelNameEdit()" [style.display]="isInputReadonly() ? 'none' : 'inline-block'">Speichern</button>
      </div>
    </div>
    <input
      [class.border-light-purple]="!isInputReadonly()"
      [readonly]="isInputReadonly()"
      [value]="inputValue()"
      (input)="onInput($event)"
    />
  </div>

  <div>
    <div>
      <span>Beschreibung</span>
      <button>Bearbeiten</button>
    </div>
    <input type="text" />
    <div class="separatorX"></div>
    <span>Erstellt von</span>
    <span class="created-by"> Username </span>
  </div>
</div>
