@use "../../../../../styles.scss" as *;

:host {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
}

.dialog {
  background-color: #fff;
  border-radius: 0 30px 30px 30px;
  box-shadow: $box-shadow-overlay;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 500px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  img {
    cursor: pointer;
    width: 32px;
    padding: 8px;
    border-radius: 100%;

    &:hover {
      background-color: $bg-color;
    }
  }

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

input {
  border: none;
  border-radius: 40px;
  padding: 18px 20px 18px 20px;
  width: 100%;
  font-size: 16px;
  border: 1px solid $light-purple;


  &:focus {
    outline: none;
  }
}

textarea {
  border: none;
  border-radius: 40px;
  padding: 18px 20px 18px 20px;
  width: 100%;
  font-size: 16px;
  resize: vertical;
  max-height: 100px;
  field-sizing: content;
  border: 1px solid $light-purple;

  &:focus {
    outline: none;
  }
}

button {
  background-color: transparent;
  color: $purple-3;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  border: none;
  transition: font-weight 0.2s;


  &:hover {
    font-weight: 600;
  }
}

.channel-group-container {
  border-radius: 30px;

  .reduce-padding {
    padding: 0 0 20px 0;
  }
}

.channel-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  transition: padding 0.2s;

  span {
    font-size: 18px;
    font-weight: 700;
  }
}

.channel-name-readonly {
  min-height: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 20px 18px 20px;
  font-size: 16px;
}

.channel-description-readonly {
  padding: 18px 20px 18px 20px;
  font-size: 16px;
  max-height: 100px;
  overflow-y: auto;
}

.separatorX {
  width: 90%;
  height: 1px;
  background: $light-purple;
  margin: 30px auto;
  border: none;
}

.created-by-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 20px;
  transition: padding 0.2s;
  font-weight: 700;
  font-size: 18px;
}

.created-padding-animation {
  padding: 0 0 20px 0px;
}

.created-by {
  font-weight: 400;
  font-size: 22px;
  color: $purple-3;
  margin-top: 20px;
}

.border-light-purple {
  border: 1px solid $light-purple;
}
