<div class="grid-container" [ngClass]="gridClasses">
  <app-header />

  @if (!isWorkspaceHidden()) {
  <app-workspace />
  }
  <router-outlet />

  @if (!isThreadHidden()) {
  <app-thread />
  }
  <button class="workspace-button" (click)="toggleWorkspaceVisibility()">
    <div
      >Workspace-Menü
        {{ isWorkspaceHidden() ? "öffnen" : "schließen" }}
    </div>
    <img
      [class.rotated]="!isWorkspaceHidden()"
      src="/img/workspace-open.svg"
      alt="Workspace Icon"
    />
  </button>
</div>
