@use "../../../styles.scss" as *;

.grid-container {
  max-width: 1920px;
  display: grid;
  position: relative;
  grid-template-areas:
    "header header header"
    "workspace chat thread";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  background-color: $bg-color;
  height: 100vh;
  column-gap: 16px;
  padding: 16px;

  &.workspace-hidden {
    grid-template-columns: 0 4fr 1fr;
  }

  &.thread-hidden {
    grid-template-columns: 1fr 4fr 0;
  }

  &.workspace-hidden.thread-hidden {
    grid-template-columns: 0 1fr 0;
  }
}

app-header {
  grid-area: header;
}

app-workspace {
  grid-area: workspace;
}

app-thread {
  grid-area: thread;
}

.workspace-button {
  position: absolute;
  left: 0;
  top: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-50%);
  background-color: white;
  padding: 14px 24px;
  border-radius: 0px 0px 30px 30px;
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  gap: 16px;

  img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    margin-top: 3px;
  }

  .rotated {
  transform: rotate(-90deg);
}

  span {
    font-size: 20px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      padding: 16px 21px;

      span {
        color: $purple-3;
      }

      img {
        content: url('/img/workspace-open-hover.svg');
      }
    }
  }
}
