<header>
  <div class="logo-wrapper">
    <img src="img/dabubble-logo.svg" alt="" />
    <span>DABubble</span>
  </div>
  <app-search-bar />
  <app-profile-menu />
</header>

<main [ngClass]="gridClasses">
  <app-workspace [ngClass]="gridClasses" />
  <section [ngClass]="gridClasses">
    <router-outlet (activate)="onActivate($event)" />
  </section>
  <app-thread (closeThread)="isThreadHidden.set(true)" />
</main>

<button
  class="workspace-button"
  (click)="toggleWorkspaceVisibility()"
  (mouseenter)="isWorkspaceBtnHovered.set(true)"
  (mouseleave)="isWorkspaceBtnHovered.set(false)"
>
  <div>
    Workspace-Menü
    {{ isWorkspaceHidden() ? "öffnen" : "schließen" }}
  </div>
  @if(!isWorkspaceHidden()) {
  <img
    [class.rotated]="!isWorkspaceHidden()"
    [src]="
      isWorkspaceBtnHovered()
        ? '/img/workspace-hide-hover.svg'
        : '/img/workspace-hide.svg'
    "
    alt="Workspace Icon"
  />} @else {
  <img
    [class.rotated]="isWorkspaceHidden()"
    [src]="
      isWorkspaceBtnHovered()
        ? '/img/workspace-show-hover.svg'
        : '/img/workspace-show.svg'
    "
    alt="Workspace Icon"
  />
  }
</button>
