<header>
  <div class="logo-wrapper">
    <img src="img/dabubble-logo.svg" alt="" />
    <span>DABubble {{ breakpoint() }}</span>
  </div>
  <app-search-bar />
  <app-profile-menu [ngClass]="{ 'thread-hidden': isThreadHidden() }" />
</header>

<main>
  <!--FOR DESKTOP-->

  @if(breakpoint() !== 'xs' && breakpoint() !== 'sm') {
  @if(!isWorkspaceHidden()){
  <app-workspace />
  }
  <section>
    <router-outlet (activate)="onActivate($event)" />
  </section>
  @if(!isThreadHidden()) {
  <app-thread (closeThread)="isThreadHidden.set(true)" />
  } }

  <!--FOR MOBILE-->

  @if(breakpoint() === 'xs' || breakpoint() === 'sm' ) {
  @if(!isWorkspaceHidden() && isChatHidden() && isThreadHidden()) {
  <app-workspace
    class="mobile"
    (closeWorkspace)="isWorkspaceHidden.set(true)"
    (closeWorkspace)="isChatHidden.set(false)"
  />
  } @if(isWorkspaceHidden() && !isChatHidden() && isThreadHidden()) {
  <section>
    <router-outlet (activate)="onActivate($event)" />
  </section>
  } @if(isWorkspaceHidden() && isChatHidden() && !isThreadHidden()) {
  <app-thread (closeThread)="isThreadHidden.set(true)" />
  }@if(!isWorkspaceHidden() && !isChatHidden() && !isThreadHidden()) {
  <app-workspace
    class="mobile"
    (closeWorkspace)="isWorkspaceHidden.set(true)"
    (closeWorkspace)="isChatHidden.set(false)"
  />
  }@if(!isWorkspaceHidden() && !isChatHidden() && isThreadHidden()) {
  <app-workspace
    class="mobile"
    (closeWorkspace)="isWorkspaceHidden.set(true)"
    (closeWorkspace)="isChatHidden.set(false)"
  />
  }}
</main>

<!--WORKSPACE-BUTTON-->

<button
  class="workspace-button"
  (click)="toggleWorkspaceVisibility()"
  (click)="isChatHidden.set(false)"
  (mouseenter)="isWorkspaceBtnHovered.set(true)"
  (mouseleave)="isWorkspaceBtnHovered.set(false)"
>
  <div>
    Workspace-Menü
    {{ isWorkspaceHidden() ? "öffnen" : "schließen" }}
  </div>
  @if(!isWorkspaceHidden()) {
  <img
    [class.rotated]="!isWorkspaceHidden()"
    [src]="
      isWorkspaceBtnHovered()
        ? '/img/workspace-hide-hover.svg'
        : '/img/workspace-hide.svg'
    "
    alt="Workspace Icon"
  />} @else {
  <img
    [class.rotated]="isWorkspaceHidden()"
    [src]="
      isWorkspaceBtnHovered()
        ? '/img/workspace-show-hover.svg'
        : '/img/workspace-show.svg'
    "
    alt="Workspace Icon"
  />
  }
</button>
