@use "../../../styles.scss" as *;

$first-column-width: 300px;
$last-column-width: 350px;

:host {
  height: 100vh;
  padding: 16px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  &.mobile {
    flex-direction: column;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    @include respond(xl) {
      padding-left: 30px;
      width: $first-column-width;
    }
    img {
      height: 70px;
    }
    span {
      font-size: 32px;
      font-weight: 700;
    }
  }

  app-search-bar {
    flex: 1;
    &.mobile {
      flex: none;
      width: 100%;
    }
  }

  app-profile-menu {
    width: $last-column-width;
    order: 3;
    &.mobile {
      order: 2;
      width: fit-content;
    }
    &.thread-hidden {
      width: fit-content;
    }
  }

  .mobile-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

main {
  display: flex;
  gap: 16px;
  width: 100%;
  min-height: 0;
  height: 100%;

  app-workspace {
    width: $first-column-width;
    &.mobile {
      flex: 1;
    }
  }

  section {
    display: flex;
    flex: 1;
  }

  app-thread {
    width: $last-column-width;
  }
}

.workspace-button {
  position: fixed;
  left: 0;
  top: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-50%);
  background-color: white;
  padding: 14px 24px;
  border-radius: 0px 0px 30px 30px;
  border: unset;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  gap: 18px;
  white-space: nowrap;
  font-size: 20px;
  width: 335px;
  img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
  }

  .rotated {
    transform: rotate(-90deg);
  }
  &:hover {
    transition: $hover-transition;
    color: $purple-3;
  }
}
