/* Nunito – ExtraLight */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Nunito/static/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/Nunito/static/Nunito-ExtraLightItalic.ttf")
    format("truetype");
}

/* Nunito – Light */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Nunito/static/Nunito-LightItalic.ttf") format("truetype");
}

/* Nunito – Regular */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Nunito/static/Nunito-Italic.ttf") format("truetype");
}

/* Nunito – Medium */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Nunito/static/Nunito-MediumItalic.ttf") format("truetype");
}

/* Nunito – SemiBold */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Nunito/static/Nunito-SemiBoldItalic.ttf") format("truetype");
}

/* Nunito – Bold */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Nunito/static/Nunito-BoldItalic.ttf") format("truetype");
}

/* Nunito – ExtraBold */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Nunito/static/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

/* Nunito – Black */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Nunito/static/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Nunito/static/Nunito-BlackItalic.ttf") format("truetype");
}

$bg-color: #eceefe;
$purple-1: #444df2;
$purple-2: #797ef3;
$purple-3: #535af1;
$light-purple: #adb0d9;
$text-gray: #686868;
$border-color: #e6e6e6;
$online-green: #92c83e;
$email-color: #1381ff;

$backdrop: rgba(0, 0, 0, 0.5);

$box-shadow: 0 2px 10px 0 #00000014;
$box-shadow-overlay: 0px 6px 10px 0px #00000033;

$hover-transition: all 0.9s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
